@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  14.28% {
    -webkit-transform: translateX(-100);
    -moz-transform: translateX(-100);
    transform: translateX(-100);
  }
  28.571% {
    -webkit-transform: translateX(100);
    -moz-transform: translateX(100);
    transform: translateX(100);
  }
  42.857% {
    -webkit-transform: translateX(-100);
    -moz-transform: translateX(-100);
    transform: translateX(-100);
  }
  57.128% {
    -webkit-transform: translateX(100);
    -moz-transform: translateX(100);
    transform: translateX(100);
  }
  71.41% {
    -webkit-transform: translateX(-100);
    -moz-transform: translateX(-100);
    transform: translateX(-100);
  }
  86% {
    -webkit-transform: translateX(100);
    -moz-transform: translateX(100);
    transform: translateX(100);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

}