@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($columns: 1fr 1fr, $rGap: 0, $cGap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-row-gap: $rGap;
  grid-column-gap: $cGap; 
}

@function scale($size, $scaleFactor) {
  $result: $size * $scaleFactor; 
  @return $result; 
}
