@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sniglet&display=swap');

// colors
// white
$off-white: #f8f8f8;

//default blue
$main-blue: #0000b7;
$light-main-blue: #cdcafe;
$grey-main-blue:#BABAD8;
$white-main-blue:#f4f4ff;
$disabled-blue: #9393CC;



// face pink
$main-pink: #f65c87;
$background-pink: #FFD3E2;

// squid green
$main-green: #42D2A3;
$background-green: #D5FDF0;

// floof yellow
$main-yellow:#F8BC4E;
$background-yellow:#FFF0D4;

// twiggy magenta
$main-magenta:#DE61E2;
$background-mageneta:#FEDAFF;

// monkey blue
$main-monkey-blue:#61B8EB;
$background-monkey-blue:#CEEDFF;

// skull orange
$main-red-orange:#F54F3D;
$background-red-orange:#FFD1CC;

// plum purple
$main-purple:#9871D8;
$background-purple:#E5D4FF;

// alligator orange
$main-orange:#F38737;
$background-orange:#FFE1CB;

// sizes
$border-size: 4px;
$name-underline: 20px; 

//columns
$mobile-gutter-margin: 2.666;
$mobile-col-1: 9.6;
$mobile-col-2: 21.6;
$mobile-col-3: 33.866;
$mobile-col-4: 45.866;
$mobile-col-5: 58.133;
$mobile-col-6: 70.4;
$mobile-col-7: 82.4;
$mobile-col-8: 94.666;

//fonts
$bold-font: 'Fredoka One', cursive;
$normal-font: 'Sniglet', cursive;