@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 

.button {
  display: flex;
  justify-content: center;
  align-content: center;

  max-width: 16rem;
  width:$mobile-col-6 * 1%;
  // height: 3.2rem;
  margin: .5rem;
  padding: .75rem 0rem; 

  color: $main-blue;
  font-size: 1.625rem;
  font-family: $normal-font;
  text-transform: lowercase;
  
  background-color: $light-main-blue; 
  -webkit-box-shadow:  4px 4px 0px 0px $main-blue; 
  box-shadow: 4px 4px 0px 0px $main-blue;
  border: $border-size solid $main-blue; 

  // link styles
  text-decoration: none;
  &:hover {
    border: scale($border-size, 1.25) solid $main-blue;
  }
}

button.button{
  box-sizing: border-box;
  width:($mobile-col-6) * 1%;
  max-width: 18rem;
}

.button-confirm {
  background-color: $light-main-blue; 
}

.button-disabled {
  color: $disabled-blue;
  background-color: $white-main-blue;
  -webkit-box-shadow:  4px 4px 0px 0px $disabled-blue; 
  box-shadow: 4px 4px 0px 0px $disabled-blue;
  border: $border-size solid $disabled-blue; 
  &:hover {
    border: $border-size solid $disabled-blue; 
  }
}
// .button-link {
//   width:$mobile-col-6 * 1%;
//   text-align: center; 
// }

.link {
  color: $main-blue;
}

.button-container .link {
  margin: .75rem 0 .5rem 0;
  font-size: 1.5rem;
}